@import 'common.css';

/* Specific styles for the dashboard page */
#journaling, #meditation {
    margin: 20px 0;
}

.audio-file {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.audio-file p {
    margin: 5px 0;
}

/* Additional styles specific to the dashboard page */
