@import 'common.css';

/* Specific styles for the test page */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px; /* Adjust the width as needed */
}

.question {
    margin: 15px 0;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #0077FF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Additional styles specific to the test page */
