<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindscape</title>
    <!-- Add CSS links here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Mindscape Logo" class="logo">
        <h1>Welcome to Mindscape!</h1>
        <p>Explore your mind and find peace through our mental health assessment and resources.</p>
        <nav>
            <ul>
                <a href="{{ url_for('test') }}">Mental Health Test</a></li>
                {% if session.get('user_id') %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <!--add more things-->
    </div>
</body>
</html>
